sentence-transformers==3.2.1
torch==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
langchain-huggingface>=0.0.10
streamlit
langchain-core
langchain-community
psycopg2-binary
python-dotenv
pandas
openai
typing-extensions
langgraph
pytest
ruff
isort
black
numpy==1.26.4
pytest-cov
plotly
